@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    font-family:"Roboto";
}

*::selection{
    background: transparent;
}

div{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}

body > header{
    background: #3F51B5;
    color: #fff;
    padding: .2rem 0;
    width: 100%;
    position: absolute;
    z-index: 10000;
    top:0;
    
}

body > header .title{
    padding:.2rem;
    font-size:1.5rem;
    font-family: "Indie Flower", cursive;
}
body > header .fa{
    cursor: pointer;
    color: #fff;
}

body > .main_content{
    width: 100%;
    height: 100%;
}

.start_screen form{
    position: absolute;
    left: 50%;
    top: 30%;
    transform:translate(-50%,-50%);
}

.start_screen form input[type="text"]{
    text-align: center;
    padding: 1rem;
    display: block;
    min-width: 300px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    border-bottom: none;
}

.start_screen form input[type="text"]:focus{
    color: #555;
    transition: border .5s ease;
    border: 1px solid #CFCFCF;
    border-bottom: none;
}

.start_screen form  #send{
    background: #4CAF50;
    color: #fff;
    padding: .5rem 1rem;
    text-align:center;
    cursor: pointer;
}


.editor_panel{
    position: fixed;
    height: 100%;
    top:0;
    right:0;
    transform: translate(100%,0);
    z-index: 10001;
    background: #fff;
    transition: .5s ease;
    box-shadow: 0 0 .5rem rgba(50,50,50,0.75);
}

.editor_panel header{
    background: #673AB7;
    color: #fff;
    font-size: 1.2rem;
    padding: .5rem .5rem;
}

.note{
    background: #fff;
    box-shadow: 0 3px 5px rgba(212,212,212,0.75);
    width: 150px;
    height: 150px;
    border:1px solid #ccc;
    position:fixed;
    top: 0;
    left: 0;
    color: #555;
    z-index: -1;
    cursor: pointer;
    min-width: 100px;
    min-height: 100px;
    transition: box-shadow .5s ease;
    overflow: hidden;
}

.note .note_header{
    //background: #F44336;
    color: #fff;
    text-align: center;
    font-size:1.3rem;
}

.note .note_header .edit_note{
    float:left;
    margin: 2px 0 0 4px;
}

.note .note_header .delete_note{
    float:right;
    margin: 1px 3px 0 0;
}

.select{
    position: fixed;
    opacity: .5;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
}

.main_content{
    position:fixed;
    top: 50px;
}

footer{
    position:absolute;
    width: 100%;
    bottom:0;
    background: #000;
    color: #fff;
    padding: .3rem 0;
    z-index: 10000;
}

footer .text{
    padding: .3rem;
}

footer .info{
    float:right;
}
 